html, body {
    min-height: 100vh;
    min-height: 100%;
}

body {
    background-color: rgb(230, 230, 230);
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

/* Navigation bar */
.navbar-container {
    background-color: white;
    margin: 0px;
    border: none;
}

.navbar-header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #2caaa5;
    position: relative;
    left: 25px;
    border: none;
}

.navbar-brand {
    position: relative;
    left: 7%;
    font-weight: bold;
}

.navbar-right {
    margin-right: 10px;
}

#small-screen-dropdown, #small-screen-dropdown-list {
    display: none;
}

/* Content */
.header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #2caaa5;
    font-weight: bold;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
    margin-bottom: 25px;
}

h3 {
    font-size: 20px;
    text-align: center;
}

main {
    line-height: 2;
    color: #666666;
}

p {
    padding-top: 20px;
    padding-bottom: 20px;
}

strong {
    font-weight: bold
}

.small-screen-hr {
    display: none;
}

.main-content {
    margin-top: 30px;
    margin-bottom: 30px;
}

.main-image {
    float: left;
    width: 60%;
    padding: 20px;
    padding-left: 0px;
}

.main-image-nonfloat {
    width: 85%;
    padding: 0px;
    margin: auto;
    display: block;
}

.content-container {
    margin: 20px 20px;
    min-height: 86.5vh;
}

.main-padding {
    padding: 30px 40px 20px 40px;
    margin: 20px 5px;
    background-color: white;
}

.comparison-padding {
    padding: 40px 50px;
    margin: 20px 40px;
    background-color: white;
}

.table-padding {
    margin: 20px 0px;
}

th {
    font-weight: bold;
}

th, td {
    text-align: center;
}

.side-padding {
    padding: 20px 30px;
    padding-top: 40px;
    margin: 20px 5px;
    background-color: white;
}

.side-image {
    width: 90%;
    padding: 0px;
    margin: auto;
    display: block;
}

.col-xs-3 {
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px;
    border: 2px solid white;
}

.col-sm-12 {
    margin: 0px;
    padding: 0px;
    margin-bottom: 30px;
}

.side-highlight {
    border: 2px solid #2caaa5;
}

.side-row, .main-row {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* footer */
footer {
    background-color: #777;
    color: rgb(230, 230, 230);
    border: none;
    margin: 0px;
    margin-top: 20px;
    padding: 10px;
    font-size: 12px;
    border-top: 5px solid #2caaa5;
}

/* media queries */
@media (max-width: 768px) {
    .navbar-header {
        position: static;
    }

    .navbar-brand {
        position: relative;
        left: 15px;
    }

    #small-screen-dropdown {
        display: block;
        padding: 10px 15px;
        color: #777;
        line-height: 20px;
        font-size: 100%;
        text-decoration: none;
    }

    #small-screen-dropdown-list {
        display: block;
        padding-left: 30px;
    }

    #large-screen-dropdown {
        display: none;
    }

    .small-screen-hr {
        display: block;
    }

    .comparison-padding {
        padding: 20px 30px;
        margin: 20px 20px;
        background-color: white;
    }
}
