/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
}

/* set map, body, and html to 100% of the screen size */
#map,
body,
html {
  height: 100%;
}

.legend {
  color: #555;
  padding: 6px 6px;
  font: 12px Arial, Helvetica, sans-serif;
  font-weight: bold;
  background: white;
  background: rgba(255,255,255,0.9);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  height: 168px;
}
.legend ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 40px;
  position: absolute;
  /* clear: both; */
}
.legend li {
  /* display: inline-block; */
  width: 30px;
  height: 22px;
}
h4 {
  font-size: 14px;
  line-height: 1;
  padding: 0px;
  margin: 0px;
  margin-bottom: 6px;
}
#labels-text {
  position: absolute;
  left: 45px;
  line-height: 22px;
}